.title{
    font-weight: bold;
    font-size: 20px;
    color: white;
    
    margin-bottom: 10px;
}

.subtitle{
    color: rgb(179, 177, 176);
}

p{
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
}


div{
    
    background-color: rgb(68, 65, 65);
    width: 350px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}